---
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";
const AllNews = await getCollection("news");
---

<Base title="News">
  <div class="container">
    <h2><span>News</span></h2>
    <ul>
      {
        AllNews.map((news) => (
          <li>
            <article>
              <h3>{news.data.title}</h3>
              <time datetime={news.data.date.toDateString()}>
                {news.data.date.toDateString()}
              </time>
              <div class="md">{news.body}</div>
            </article>
          </li>
        ))
      }
    </ul>
  </div>
</Base>

<style>
  li:has(+ li) {
    border-bottom: solid grey 1px;
    padding-bottom: var(--sp-l);
    margin-bottom: var(--sp-xl);
  }

  h3 {
    margin-bottom: var(--sp-2xs);
  }

  time {
    display: block;
    margin-bottom: var(--sp-l);
  }
</style>
